/apps/docs/storybook-static/
/apps/main/.next/
/apps/main/prisma/generated-for-inspiration/
**/.dockerignore
/pnpm-lock.yaml
/packages/trpc-next-layout/**/*.ts
/packages/trpc-next-layout/**/*.tsx
/packages/ui/src/animations/**/*.json
