h1 {
  color: #161616 !important;
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
}

h2 {
  color: #161616 !important;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
}

:root {
  color-scheme: light dark;
  supported-color-schemes: light dark;

  --mycolor: red;
}

/*
There is no easy way to manage colors with MJML when set with `mj-attributes` (no usage of `--var(xxx)` or so...)
We have to guess where it may be changed, so we use `cssClass` attribute to help a bit locating elements to style

Notes:
- that's weird but inside Storybook the DSFR dark mode seems not compliant for contrasts...
- impossible to set a class to `mj-body` so we guess a `body` will be present (there is no way to detect it...)

TODO: if the browser is in dark mode it will always show like this into Storybook, maybe set a component property to base this on the storybook logic (dark class I think remembering)
... probably in the Storybook decorator, force using class
*/
@media (prefers-color-scheme: dark) {
  body, .light-body {
    background: #161616 !important;
  }

  h1 {
    color: #fff !important;
  }

  h2 {
    color: #fff !important;
  }

  .light-text, .light-text div {
    color: #cecece !important;
  }

  .light-button p {
    background: #8585f6 !important;
    color: #000091 !important;
  }

  .light-main-section, .light-main-section > table {
    background: #1e1e1e !important;
  }
}
