// This will be overidden when really sending email because relative imports will make no sense
// For example an email having `/assets/fonts/xxx` points to nothing.
//
// We thought about multiple solutions:
// - having the CSS embedded in the email but it requires pointing the font files with absolute files... it's not sustainable to embed this all the time
// - use the relative path like below and use a Webpack plugin to change it:
//   - we tried https://github.com/keidrun/css-url-loader but Next.js was throwing too many errros
//   - we tried using `sass-loader` option `additionalData` to use a `$remoteBaseUrl` variable in Sass but at the end it's overkilled to merge this config in all webpack setups
//
// But we ended overriding this path directly from the code, it's a bit of a "workaround" but it simplifies a lot since Webpack layers are really complex and subject to change
@import '/assets/fonts/index.css';

@import '@mediature/ui/src/emails/layouts/standard.partial.scss';

:root {
  color-scheme: light dark;
  supported-color-schemes: light dark;
}

@media (prefers-color-scheme: dark) {
  body {
    &,
    .light-body {
      background: $darkWrapperBackground !important;
    }
  }

  @include darkStyle;
}
