/.files/
/dist
/public/assets/fonts/
/public/assets/images/email/social/
# Sentry
/.sentryclirc
/sentry.properties

# Legal documents to transform to HTML (with `format-legal-documents.sh`)
/src/**/*.docx
